{% extends "layout.html" %}

{% block body %}

<div class="col-md-5 offset-md-3">

    <div class="card card-body form-panel">
    
        <form action="/update/{{ contact.0 }}" method="POST">

            <div class="mb-3">
                <input type="text" name="fullname" placeholder="fullname" value="{{ contact.1 }}" class="form-control" required>
            </div>

            <div class="mb-3">
                <input type="text" name="phone" placeholder="phone" value="{{ contact.2 }}" class="form-control" required>
            </div>

            <div class="mb-3">
                <input type="email" name="email" placeholder="Email" value="{{ contact.3 }}" class="form-control" required>
            </div>
            
            <div class="d-grid">
                <button type="submit" class="btn btn-success">Save</button>
            </div>

        </form>

    </div>

</div>


{% endblock %}
